h1 {font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     text-align: center;}

h2 {font-family: cursive; color: pink;
text-align: center;}
body {
    background-color: lightgrey;
  }

  a {
    border: 1px solid black;
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    color: pink;
    background-color: black;
  }
  
  a:active {
    color: white;
    background-color: black;
  }